@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}

/* Config Scroll Bar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #353a43; 
}
::-webkit-scrollbar-thumb {
  background: #2a3043; 
}

::-webkit-scrollbar-thumb:hover {
  background: #212636; 
}

/* Config init */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d1f25;
  color: white;
}

/* Config Header */
.header{
  width: 100%;
  display: flex;
  justify-content: right;
  background-color: #282c34;
  position: fixed;
  box-shadow: 1px 2px 20px black;
}

.menu-header{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 25px;
}

.menu-header > a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

.menu-header > li:hover {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.menu-header > .active{
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

/* Config home */
.home{
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.home > span {
  font-size: 3rem;
  font-weight: 700;
}

/* Config About */
.about{
  width: 75vw;
  height: 100vh;
  padding-top: 70px;
}

.about > h2 {
  text-align: center;
  font-size: 2rem;
}

.about > p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}